In [177]:
import pandas as pd 
import numpy as np
import os

In [204]:
Data= pd.read_csv(r'c:\Users\pc\Desktop\sam\energydata_complete.csv')

In [205]:
Data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [206]:
Data = Data.drop(columns=['date' , 'lights'],  )

In [208]:
Data.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [213]:
from sklearn.preprocessing import MinMaxScaler

In [214]:
scaler = MinMaxScaler()

In [215]:
normalised_Data=pd.DataFrame(scaler.fit_transform(Data), columns=Data.columns)

In [216]:
features_Data = normalised_variable.drop(columns=[ 'Appliances' ])

In [217]:
Appliances_target = normalised_Data[ 'Appliances' ]

In [218]:
from sklearn.model_selection import train_test_split

In [219]:
x_train, x_test, y_train, y_test = train_test_split(features_variable, Appliances_target,test_size= 0.3 , random_state= 42)

In [220]:
from sklearn.linear_model import LinearRegression

In [221]:
linear_model = LinearRegression()

In [222]:
linear_model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [223]:
predicted_values = linear_model.predict(x_test)

In [224]:
from sklearn.metrics import mean_absolute_error

In [225]:
mae = mean_absolute_error(y_test, predicted_values)

In [227]:
mae.round(2)

0.05

In [196]:
rss = np.sum(np.square(y_test - predicted_values))

In [228]:
rss.round(2)

45.35

In [161]:
from sklearn.metrics import mean_squared_error

In [162]:
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))

In [229]:
rmse.round(2)

0.09

In [230]:
from sklearn.metrics import r2_score

In [231]:
r2_score = r2_score(y_test, predicted_values)

In [198]:
round(r2_score, 2 )

0.15

## Ridge Regression

In [167]:
#Feature Selection and Lasso Regression
from sklearn.linear_model import Lasso

In [168]:
lasso_reg = Lasso(alpha= 0.001 )

In [169]:
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [170]:

from sklearn.linear_model import Ridge

In [171]:
ridge_reg = Ridge(alpha= 0.5 )

In [172]:
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.5, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)