In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data_set=pd.read_csv(r'c:\users\lenovo\desktop\hamoye\Data_for_UCI_named.csv')

In [3]:
data_set.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [4]:
data_set['stabf'].value_counts()

unstable    6380
stable      3620
Name: stabf, dtype: int64

In [5]:
data_set.isnull().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [6]:
data_set=data_set.drop(columns=['stab'], axis=1)

In [7]:
data_set.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,unstable

In [8]:
data_set_U= data_set[data_set.stabf=='unstable' ].sample(350)

In [9]:
data_set_U.stabf.value_counts()

unstable    350
Name: stabf, dtype: int64

In [10]:
data_set_U.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
270,6.140775,9.682953,7.047784,9.421302,3.071321,-1.348960,-0.618359,-1.104002,0.050212,0.106010,0.800213,0.409977,unstable
3795,6.420823,8.582493,9.002163,5.931602,4.654799,-1.825097,-1.452596,-1.377106,0.117562,0.218692,0.838813,0.577747,unstable
6645,2.612870,7.562221,6.004268,2.249088,2.867152,-0.608592,-1.186032,-1.072528,0.361243,0.173964,0.863402,0.817195,unstable
6932,5.321776,5.809108,2.688979,3.421447,4.639893,-1.998507,-1.036525,-1.604861,0.110110,0.735137,0.575847,0.687481,unstable
3302,7.362634,4.789448,2.301323,6.638678,2.985982,-0.594768,-0.889538,-1.501676,0.330877,0.681353,0.220078,0.229121,unstable

In [11]:
data_set_U.shape

(350, 13)

In [12]:
data_set_S= data_set[data_set.stabf=='stable' ].sample( 240 )

In [13]:
data_set_S.shape

(240, 13)

In [14]:
data_set_S.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
1386,8.037189,7.888127,0.511559,9.604737,3.566712,-0.503119,-1.721243,-1.342350,0.091415,0.493520,0.779195,0.534481,stable
545,4.657692,9.939953,1.049284,1.525698,3.031948,-0.611066,-1.604280,-0.816602,0.802462,0.891772,0.996358,0.596534,stable
2926,1.222725,6.311725,2.785187,6.679192,3.123987,-1.800592,-0.635540,-0.687855,0.155357,0.573848,0.143080,0.408131,stable
8757,0.963013,2.340842,3.095358,7.060257,3.380264,-1.111953,-1.455195,-0.813115,0.588876,0.672560,0.213265,0.895384,stable
9817,0.759015,3.683205,0.898127,2.919655,4.070383,-1.061448,-1.842275,-1.166659,0.650954,0.550460,0.998958,0.385145,stable

In [15]:
data_set_S.stabf.value_counts()

stable    240
Name: stabf, dtype: int64

In [16]:
data_set_New = data_set_U.append(data_set_S)

In [17]:
data_set_New.stabf.value_counts()

unstable    350
stable      240
Name: stabf, dtype: int64

In [18]:
import sklearn.utils

In [19]:
data_set_New = sklearn.utils.shuffle(data_set_New)

In [20]:
data_set_New =data_set_New.reset_index(drop= True )

In [21]:
data_set_New.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,8.335918,3.745393,0.787678,1.672868,2.880140,-1.103655,-0.527326,-1.249159,0.332908,0.881387,0.509559,0.246933,stable
1,9.256720,4.653529,9.808292,5.155090,4.592986,-1.794344,-0.979897,-1.818745,0.069219,0.649898,0.387920,0.163410,stable
2,2.778844,3.943096,6.744547,8.487608,3.329445,-1.104211,-1.166683,-1.058551,0.849580,0.298312,0.706147,0.924782,unstable
3,6.265185,3.459996,1.129775,7.153626,3.602833,-1.257810,-1.184007,-1.161015,0.725196,0.776696,0.798614,0.344541,unstable
4,5.863357,1.650285,3.359255,7.666286,4.430955,-1.808140,-1.188008,-1.434807,0.186458,0.741734,0.862690,0.869608,unstable

In [22]:
data_set_New.stabf.value_counts()

unstable    350
stable      240
Name: stabf, dtype: int64

In [23]:
data_set_New.shape

(590, 13)

In [24]:
data_set_New.dtypes

tau1     float64
tau2     float64
tau3     float64
tau4     float64
p1       float64
p2       float64
p3       float64
p4       float64
g1       float64
g2       float64
g3       float64
g4       float64
stabf     object
dtype: object

In [25]:
X = data_set_New.drop(columns='stabf')

In [26]:
y =data_set_New[ 'stabf' ]

#### split the data into training and testing sets

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size= 0.2 , random_state= 1)

In [29]:
y_train.value_counts()

unstable    280
stable      192
Name: stabf, dtype: int64

In [30]:
!pip install imblearn

Requirement already satisfied: imblearn in c:\users\lenovo\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\lenovo\anaconda3\lib\site-packages (from imblearn) (0.7.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\lenovo\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.18.1)
Requirement already satisfied: scipy>=0.19.1 in c:\users\lenovo\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in c:\users\lenovo\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.14.1)
Requirement already satisfied: scikit-learn>=0.23 in c:\users\lenovo\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.23.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn>=0.23->imbalanced-learn->imblearn) (2.1.0)

In [31]:
pip install -U imbalanced-learn

Requirement already up-to-date: imbalanced-learn in c:\users\lenovo\anaconda3\lib\site-packages (0.7.0)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.23 in c:\users\lenovo\anaconda3\lib\site-packages (from imbalanced-learn) (0.23.2)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\lenovo\anaconda3\lib\site-packages (from imbalanced-learn) (0.14.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\lenovo\anaconda3\lib\site-packages (from imbalanced-learn) (1.18.1)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\lenovo\anaconda3\lib\site-packages (from imbalanced-learn) (1.4.1)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn>=0.23->imbalanced-learn) (2.1.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x0000024CA2B68AC8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/imbalanced-learn/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x0000024CA2B6DCC8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/imbalanced-learn/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x0000024CA33D2F08>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/imbalanced-learn/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x0000024CA2B70788>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/imbalanced-learn/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x0000024CA2B70E48>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/imbalanced-learn/

In [32]:
import imblearn

In [33]:
from imblearn.over_sampling import SMOTE

In [34]:
smote = SMOTE(random_state= 1 )

In [35]:
x_train_balanced, y_balanced = smote.fit_sample(x_train, y_train)

In [36]:
y_balanced.value_counts()

stable      280
unstable    280
Name: stabf, dtype: int64

In [37]:
from sklearn.preprocessing import MinMaxScaler

In [38]:
scaler = MinMaxScaler()

In [39]:
normalised_train_data_set= scaler.fit_transform(x_train_balanced.drop(columns=['p1']))

In [40]:
normalised_train_data_set = pd.DataFrame(normalised_train_data_set, columns=x_train_balanced.drop(columns=['p1']).columns)

In [41]:
normalised_train_data_set['p1'] = x_train_balanced['p1']

In [42]:
x_test = x_test.reset_index(drop=True)

In [43]:
normalised_test_data_set = scaler.transform(x_test.drop(columns=['p1']))

In [44]:
normalised_test_force = pd.DataFrame(normalised_test_data_set, columns=x_test.drop(columns=['p1']).columns)

In [45]:
normalised_test_force['p1'] = x_test['p1']

#### logistic Regression

In [46]:
from sklearn.linear_model import LogisticRegression

In [47]:
log_reg = LogisticRegression()

In [55]:
log_reg.fit(normalised_train_data_set, y_balanced)

LogisticRegression()

In [56]:
new_predictions=log_reg.predict(normalised_test_data_set)

ValueError: X has 11 features per sample; expecting 12

#### Return

In [49]:
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression()

#### Confusion Matrix

In [50]:
from sklearn.metrics import recall_score, accuracy_score, precision_score, f1_score, confusion_matrix

In [51]:
new_predictions=log_reg.predict(normalised_test_data_set)

ValueError: X has 11 features per sample; expecting 12