In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data_set=pd.read_csv(r'c:\users\omolade\desktop\hamoye\Data_for_UCI_named.csv')

In [3]:
data_set.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [4]:
data_set['stabf'].value_counts()

unstable    6380
stable      3620
Name: stabf, dtype: int64

In [5]:
data_set.isnull().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [6]:
data_set_U= data_set[data_set.stabf=='unstable' ].sample(350)

In [7]:
data_set_U.stabf.value_counts()

unstable    350
Name: stabf, dtype: int64

In [8]:
data_set_U.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
6975,2.877673,2.603703,5.471896,6.988286,4.391092,-1.185692,-1.288032,-1.917368,0.450887,0.378269,0.883307,0.768578,0.052320,unstable
6416,7.706566,4.712375,9.563170,8.391521,3.431817,-1.730646,-0.519121,-1.182050,0.709193,0.756837,0.633792,0.065164,0.052544,unstable
4896,6.459979,9.736667,7.525327,3.379675,4.792032,-1.878083,-1.783775,-1.130174,0.136270,0.461935,0.966347,0.727590,0.046683,unstable
3450,5.858016,6.973412,4.478434,7.770710,4.056539,-0.806007,-1.285332,-1.965200,0.596790,0.309962,0.121850,0.960542,0.053894,unstable
1491,8.468891,1.047125,4.310339,8.134035,3.169646,-0.986798,-0.639997,-1.542852,0.916691,0.127947,0.056346,0.611710,0.035609,unstable

In [9]:
data_set_U.shape

(350, 14)

In [10]:
data_set_S= data_set[data_set.stabf=='stable' ].sample( 240 )

In [11]:
data_set_S.shape

(240, 14)

In [12]:
data_set_S.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
2465,0.728186,1.780958,2.998783,7.238208,3.184408,-0.698908,-0.943495,-1.542005,0.194109,0.528008,0.501233,0.741934,-0.025668,stable
6825,8.250594,1.552876,2.531845,3.545719,5.247032,-1.984755,-1.890144,-1.372132,0.476846,0.955409,0.290583,0.950382,-0.023157,stable
7565,5.629575,1.414393,2.902362,7.074261,3.420547,-1.583391,-0.599578,-1.237578,0.529979,0.638092,0.417988,0.123154,-0.026455,stable
5047,6.317893,7.422770,2.666084,0.880229,3.112980,-1.197747,-0.587298,-1.327935,0.735559,0.319328,0.286639,0.267666,-0.006904,stable
7729,5.440234,8.972432,7.428708,1.694997,2.847723,-0.533720,-1.308263,-1.005740,0.364653,0.224244,0.439619,0.280117,-0.011204,stable

In [13]:
data_set_S.stabf.value_counts()

stable    240
Name: stabf, dtype: int64

In [14]:
data_set_New = data_set_U.append(data_set_S)

In [15]:
data_set_New.stabf.value_counts()

unstable    350
stable      240
Name: stabf, dtype: int64

In [16]:
import sklearn.utils

In [17]:
data_set_New = sklearn.utils.shuffle(data_set_New)

In [18]:
data_set_New =data_set_New.reset_index(drop= True )

In [19]:
data_set_New.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.717959,3.882854,3.496091,3.256087,3.769476,-0.771880,-1.810453,-1.187143,0.677312,0.176587,0.481284,0.520976,0.000289,unstable
1,5.152157,5.831119,1.106124,0.764954,3.144151,-0.895924,-1.743306,-0.504921,0.952293,0.992309,0.482340,0.460483,0.035159,unstable
2,7.684628,4.628793,2.280345,1.775311,3.160737,-0.784598,-1.334013,-1.042126,0.467013,0.965068,0.867955,0.935819,0.033286,unstable
3,4.048575,5.999116,9.921891,9.025934,4.178513,-1.618742,-1.882487,-0.677283,0.061246,0.302507,0.102847,0.643015,0.004163,unstable
4,9.512083,8.440511,2.047393,5.350150,3.277504,-0.837423,-1.762547,-0.677533,0.550417,0.247112,0.528657,0.130733,-0.011577,stable

In [20]:
data_set_New.stabf.value_counts()

unstable    350
stable      240
Name: stabf, dtype: int64

In [21]:
data_set_New.shape

(590, 14)

In [22]:
data_set_New.dtypes

tau1     float64
tau2     float64
tau3     float64
tau4     float64
p1       float64
p2       float64
p3       float64
p4       float64
g1       float64
g2       float64
g3       float64
g4       float64
stab     float64
stabf     object
dtype: object

In [23]:
X = data_set_New.drop(columns='stabf')

In [24]:
y =data_set_New[ 'stabf' ]

#### split the data into training and testing sets

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size= 0.2 , random_state= 1)

In [27]:
y_train.value_counts()

unstable    271
stable      201
Name: stabf, dtype: int64

In [28]:
import imblearn

In [29]:
from imblearn.over_sampling import SMOTE

In [30]:
smote = SMOTE(random_state= 1 )

In [31]:
x_train_balanced, y_balanced = smote.fit_sample(x_train, y_train)

In [32]:
y_balanced.value_counts()

stable      271
unstable    271
Name: stabf, dtype: int64

In [33]:
from sklearn.preprocessing import MinMaxScaler

In [34]:
scaler = MinMaxScaler()

In [35]:
from sklearn.linear_model import LogisticRegression

In [36]:
log_reg = LogisticRegression()

In [38]:
log_reg.fit(normalised_train_data_set, y_balanced)

NameError: name 'normalised_train_data_set' is not defined